<?xml version="1.0" encoding="UTF-8"?>
<!-- 여기는 리스너를 등록해준다. servletContext를 사용하기 위해서 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 세션리스너 등록 -->
	<bean class="listener.SessionListener"></bean>
	

</beans>