<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schamaLocation="http://java.sun.com/sml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<!-- 서블릿을 구현한 springframework 패키지의 클래스들을 쓸 것이다. -->
	<!-- 1. dispatcher -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param><!-- dispatcher는 getInitParam을 써서 내용을 읽어들일 수 있다. -->
			<param-name>contextConfigLocation</param-name>
			<param-value><!-- 이 두개의 내용이 디스패쳐내의 ctx 초기화에 읽혀들어감. -->
				classpath:spring-mvc.xml
				classpath:spring-controller.xml
				classpath:spring-maps.xml
				classpath:spring-listeners.xml
				classpath:spring-web-socket.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- Listeners -->
	<!-- ContextLoaderListener : 초기화리스너 : 서블릿 컨텍스트 넣어주기 -->
	<listener>
	    <listener-class>listener.AppServletContextListener</listener-class>
	</listener>
	<!-- 세션 리스너 : 세션 감지 : 필요없어짐 -->
	<!-- <listener>
	     <listener-class>listener.SessionListener</listener-class>
	</listener> -->
	<display-name>Archetype Created Web Application</display-name>
</web-app>

